# Mark built assets as binary
*.woff2 binary
*.webp binary
*.avif binary
*.ttf binary
*.png binary
*.jpg binary
*.jpeg binary
# Mark built assets as binary
*.woff2 binary
*.webp binary
*.avif binary
*.ttf binary
*.png binary
*.jpg binary
*.jpeg binary
